# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 60)

# Data Preprocessing

In [2]:
# change the file to suit your needs
data = pd.read_excel('./Money Manager_30-04-2024.xls')
data.head()

,Date,Account,Category,Subcategory,Note,JPY,Income/Expense,Note.1,Amount,Currency,Account.1
0,30/04/2024 11:57:24,Accounts,Household,NaN,Rakuten,2994,Expense,NaN,2994,JPY,2994
1,29/04/2024 11:23:47,Cash,Household,NaN,NaN,110,Expense,NaN,110,JPY,110
2,29/04/2024 11:23:26,Cash,Food,NaN,NaN,3932,Expense,NaN,3932,JPY,3932
3,28/04/2024 11:14:11,Cash,Transportation,NaN,NaN,950,Expense,NaN,950,JPY,950
4,25/04/2024 13:45:15,Cash,Food,NaN,NaN,1569,Expense,NaN,1569,JPY,1569

In [3]:
data.shape

(596, 11)

## *Remove Unused Column*

In [4]:
data.drop(['Account','Note','Subcategory','Note.1','Account.1','Amount','Currency'],axis=1,inplace=True)
data

                    Date          Category     JPY Income/Expense
0    30/04/2024 11:57:24         Household    2994        Expense
1    29/04/2024 11:23:47         Household     110        Expense
2    29/04/2024 11:23:26              Food    3932        Expense
3    28/04/2024 11:14:11    Transportation     950        Expense
4    25/04/2024 13:45:15              Food    1569        Expense
5    25/04/2024 13:45:02         Household    1000        Expense
6    21/04/2024 17:52:46              Food    9000        Expense
7    19/04/2024 15:11:52         Household    1000        Expense
8    19/04/2024 12:41:14              Food     108        Expense
9    19/04/2024 12:25:51         Household   29562        Expense
10   16/04/2024 10:26:38             Other    4200        Expense
11   16/04/2024 10:26:19              Food    2744        Expense
12   13/04/2024 13:23:43         Household     370        Expense
13   13/04/2024 13:23:17              Food     617        Expense
14   09/04/2024 10:19:12              Food    4447        Expense
15   04/04/2024 11:53:59         Allowance  153220         Income
16   04/04/2024 11:46:16       Social Life   21000        Expense
17   31/03/2024 11:53:15         Allowance  153220         Income
18   30/03/2024 11:48:47         Household    1190        Expense
19   30/03/2024 11:48:20         Household   27558        Expense
20   29/03/2024 21:33:37         Household    1661        Expense
21   28/03/2024 17:16:28              Food    4362        Expense
22   24/03/2024 22:16:52              Food    2068        Expense
23   23/03/2024 12:40:38             Other     660        Expense
24   22/03/2024 08:13:54              Food     327        Expense
25   21/03/2024 23:06:39              Food     776        Expense
26   21/03/2024 22:59:55              Food    4250        Expense
27   29/02/2024 11:53:01         Allowance  153220         Income
28   29/02/2024 11:50:02         Household    1499        Expense
29   29/02/2024 11:49:38         Household   27865        Expense
30   13/02/2024 11:29:21              Food    3020        Expense
31   13/02/2024 11:27:51             Other    2200        Expense
32   13/02/2024 11:25:59              Food    8080        Expense
33   13/02/2024 11:25:45    Transportation    5000        Expense
34   10/02/2024 02:59:35              Food    7516        Expense
35   07/02/2024 14:26:49         Household   10500        Expense
36   07/02/2024 14:26:15              Food    3002        Expense
37   31/01/2024 16:27:27              Food     108        Expense
38   30/01/2024 15:02:26         Allowance  153220         Income
39   30/01/2024 15:01:17         Household   29701        Expense
40   30/01/2024 15:00:18              Food     108        Expense
41   30/01/2024 14:57:21    Transportation    4000        Expense
42   30/01/2024 14:57:13         Education    4000        Expense
43   30/01/2024 14:55:43              Food    3674        Expense
44   23/01/2024 23:52:16              Food    1269        Expense
45   23/01/2024 23:52:05              Food    2076        Expense
46   23/01/2024 23:50:28              Food    4615        Expense
47   14/01/2024 15:28:02         Household     300        Expense
48   14/01/2024 15:27:34       Social Life    2050        Expense
49   14/01/2024 15:26:47              Food    7706        Expense
50   13/01/2024 21:04:30              Food     715        Expense
51   30/12/2023 13:50:47              Food    9377        Expense
52   28/12/2023 16:28:28              Food     950        Expense
53   27/12/2023 16:23:51              Food     409        Expense
54   27/12/2023 16:23:32              Food    2510        Expense
55   27/12/2023 16:10:21         Allowance  153220         Income
56   27/12/2023 16:09:28              Food    2422        Expense
57   25/12/2023 15:03:34         Household   31759        Expense
58   25/12/2023 15:02:48         Household    1100        Expense
59   24/12/2023 13:12:49       Social Life   17000        Expense
60   20/12/2023 20:05:51              Food    4505        Expense
61   14/12/2023 17:17:51              Food    2118        Expense
62   11/12/2023 11:46:56              Food    1260        Expense
63   10/12/2023 23:51:53              Food   11990        Expense
64   30/11/2023 19:51:35              Food     986        Expense
65   26/11/2023 19:56:26              Food    1388        Expense
66   23/11/2023 21:59:53         Household     658        Expense
67   23/11/2023 21:58:19              Food    3000        Expense
68   15/11/2023 20:25:55           Apparel    3126        Expense
69   15/11/2023 20:24:17         Household     917        Expense
70   15/11/2023 20:22:40              Food    5610        Expense
71   12/11/2023 16:34:55    Transportation   15000        Expense
72   12/11/2023 16:34:49              Food    1350        Expense
73   12/11/2023 16:28:18       Social Life   86315        Expense
74   12/11/2023 16:23:50       Social Life    9115        Expense
75   12/11/2023 16:22:12              Food    1698        Expense
76   12/11/2023 16:18:46              Food    1626        Expense
77   04/11/2023 20:07:38              Food    2709        Expense
78   28/10/2023 14:18:17         Household    1551        Expense
79   28/10/2023 14:17:55           Apparel    1714        Expense
80   28/10/2023 14:16:04              Food    3959        Expense
81   22/10/2023 14:48:29              Food    3429        Expense
82   15/10/2023 19:00:57         Household   27788        Expense
83   15/10/2023 18:56:39              Food    3122        Expense
84   09/10/2023 22:25:48         Allowance  132250         Income
85   09/10/2023 22:18:47         Household    1206        Expense
86   09/10/2023 22:18:08              Food     199        Expense
87   09/10/2023 22:16:31              Food    5433        Expense
88   29/09/2023 22:25:25         Allowance  132250         Income
89   29/09/2023 19:02:08         Household    2300        Expense
90   28/09/2023 22:25:00         Household   26635        Expense
91   22/09/2023 22:21:36             Other   90000        Expense
92   14/09/2023 16:50:21              Food     220        Expense
93   04/09/2023 23:19:02              Food    7505        Expense
94   04/09/2023 23:17:51       Social Life    3800        Expense
95   04/09/2023 23:17:41    Transportation    5000        Expense
96   04/09/2023 23:14:30              Food     730        Expense
97   28/08/2023 14:24:09              Food     400        Expense
98   28/08/2023 14:21:42       Social Life     800        Expense
99   28/08/2023 14:20:27              Food    5113        Expense
100  24/08/2023 19:02:37         Household    1500        Expense
101  16/08/2023 22:07:19              Food    4313        Expense
102  16/08/2023 22:07:05              Food    1760        Expense
103  16/08/2023 22:06:49           Apparel     590        Expense
104  15/08/2023 14:24:42              Food    2772        Expense
105  15/08/2023 14:19:38       Social Life   27304        Expense
106  08/08/2023 21:25:03         Household   30160        Expense
107  07/08/2023 10:06:34         Allowance  132250         Income
108  07/08/2023 10:06:03              Food    4301        Expense
109  07/08/2023 10:00:08              Food   13392        Expense
110  31/07/2023 10:04:19         Household   26453        Expense
111  26/07/2023 19:03:05         Household    1500        Expense
112  20/07/2023 18:52:40              Food     246        Expense
113  20/07/2023 18:45:35              Food     997        Expense
114  17/07/2023 23:46:27              Food    2490        Expense
115  15/07/2023 14:08:20         Allowance  132250         Income
116  15/07/2023 14:06:36              Food    2026        Expense
117  08/07/2023 17:57:06              Food    6440        Expense
118  04/07/2023 23:35:31              Food    5496        Expense
119  04/07/2023 23:35:06              Food    1100        Expense
120  04/07/2023 18:42:50              Food     546        Expense
121  04/07/2023 18:42:32              Food    1480        Expense
122  04/07/2023 18:37:55              Food    2645        Expense
123  22/06/2023 13:41:07              Food    6579        Expense
124  22/06/2023 13:27:16         Household   23000        Expense
125  22/06/2023 13:24:36             Other    1200        Expense
126  22/06/2023 13:17:38         Allowance  132250         Income
127  22/06/2023 13:17:32              Food     276        Expense
128  22/06/2023 13:17:23              Food     130        Expense
129  22/06/2023 13:17:09           Apparel     330        Expense
130  22/06/2023 13:15:22              Food    3444        Expense
131  09/06/2023 12:25:42              Food    4426        Expense
132  09/06/2023 12:23:45              Food    4715        Expense
133  31/05/2023 13:25:49         Household   30250        Expense
134  27/05/2023 12:35:04              Food    2243        Expense
135  27/05/2023 12:32:37              Food    2147        Expense
136  23/05/2023 15:04:14              Food    2091        Expense
137  23/05/2023 15:04:06    Transportation    5000        Expense
138  23/05/2023 15:02:48              Food    2066        Expense
139  17/05/2023 18:05:19         Allowance  132250         Income
140  17/05/2023 12:42:21              Food    1008        Expense
141  17/05/2023 12:40:58              Food    2743        Expense
142  11/05/2023 17:47:50              Food     325        Expense
143  10/05/2023 12:24:53              Food    3969        Expense
144  08/05/2023 11:04:40              Food    1616        Expense
145  06/05/2023 16:06:52       Social Life   13803        Expense
146  03/05/2023 13:24:53             Other    1200        Expense
147  30/04/2023 13:30:26         Household   31347        Expense
148  29/04/2023 15:10:01              Food    3000        Expense
149  29/04/2023 15:09:22         Household     548        Expense
150  29/04/2023 15:09:00              Food    1726        Expense
151  29/04/2023 15:08:21              Food     941        Expense
152  25/04/2023 12:22:01              Food    1240        Expense
153  19/04/2023 13:24:22             Other    3900        Expense
154  19/04/2023 12:31:10              Food    1063        Expense
155  17/04/2023 22:45:52              Food     500        Expense
156  17/04/2023 10:49:51             Other    5966        Expense
157  17/04/2023 10:48:06         Education   45300        Expense
158  17/04/2023 10:47:33              Food    6864        Expense
159  17/04/2023 10:47:16              Food     369        Expense
160  17/04/2023 10:46:36              Food     550        Expense
161  14/04/2023 12:25:15              Food     241        Expense
162  14/04/2023 12:23:52              Food     369        Expense
163  13/04/2023 13:35:53         Household    1500        Expense
164  13/04/2023 13:32:18              Food    1694        Expense
165  13/04/2023 13:31:47              Food    1486        Expense
166  06/04/2023 13:06:52         Allowance  132250         Income
167  06/04/2023 13:06:40              Food     418        Expense
168  05/04/2023 19:32:09         Education   13500        Expense
169  05/04/2023 19:19:00         Household     218        Expense
170  05/04/2023 19:18:37         Education   24767        Expense
171  05/04/2023 19:18:21              Food     963        Expense
172  05/04/2023 19:18:01              Food    4660        Expense
173  05/04/2023 19:17:44         Household     222        Expense
174  05/04/2023 19:17:20              Food    1171        Expense
175  05/04/2023 19:16:27              Food     286        Expense
176  05/04/2023 19:16:18    Transportation    5000        Expense
177  30/03/2023 20:07:53         Household     550        Expense
178  30/03/2023 20:07:24              Food    3214        Expense
179  27/03/2023 12:41:05              Food    1571        Expense
180  27/03/2023 12:40:50         Household     110        Expense
181  26/03/2023 15:32:02              Food    4415        Expense
182  26/03/2023 15:31:17         Household    1650        Expense
183  23/03/2023 22:31:28         Household    1540        Expense
184  23/03/2023 22:30:57              Food    6193        Expense
185  23/03/2023 22:30:37       Social Life   11568        Expense
186  21/03/2023 11:57:55    Transportation    7540        Expense
187  20/03/2023 23:10:26              Food     256        Expense
188  20/03/2023 23:10:14       Social Life     715        Expense
189  20/03/2023 23:09:42         Household    2000        Expense
190  20/03/2023 23:09:09              Food     447        Expense
191  20/03/2023 23:08:12         Household    2088        Expense
192  17/03/2023 22:35:23              Food    3764        Expense
193  17/03/2023 22:31:43             Other   30289        Expense
194  13/03/2023 20:03:36              Food    2150        Expense
195  13/03/2023 20:03:22    Transportation    5000        Expense
196  09/03/2023 13:24:05             Other    3900        Expense
197  07/03/2023 20:58:28         Allowance  132250         Income
198  07/03/2023 20:57:50         Household   77500        Expense
199  07/03/2023 20:56:16              Food    1813        Expense
200  04/03/2023 16:15:14           Apparel     330        Expense
201  04/03/2023 16:14:46              Food    1456        Expense
202  28/02/2023 19:40:24              Food    2380        Expense
203  23/02/2023 20:28:35              Food    4111        Expense
204  16/02/2023 15:00:44              Food     354        Expense
205  16/02/2023 14:59:59              Food    1200        Expense
206  16/02/2023 14:59:50              Food      84        Expense
207  16/02/2023 14:59:39           Apparel     770        Expense
208  16/02/2023 14:58:31           Apparel     712        Expense
209  15/02/2023 20:58:45         Allowance  132250         Income
210  11/02/2023 09:54:56         Education   78090        Expense
211  11/02/2023 09:54:38             Other     380        Expense
212  11/02/2023 09:54:31              Food    2500        Expense
213  08/02/2023 17:41:18             Other     370        Expense
214  08/02/2023 17:41:09              Food     870        Expense
215  08/02/2023 17:39:59              Food    1405        Expense
216  04/02/2023 14:05:48              Food    2000        Expense
217  04/02/2023 14:05:24              Food    1723        Expense
218  01/02/2023 13:23:27             Other    3900        Expense
219  29/01/2023 13:16:16         Allowance  132250         Income
220  29/01/2023 13:16:01              Food     400        Expense
221  29/01/2023 13:15:35              Food     262        Expense
222  29/01/2023 13:14:03    Transportation    7000        Expense
223  24/01/2023 11:36:34              Food     340        Expense
224  24/01/2023 11:35:23             Other    2891        Expense
225  22/01/2023 00:05:52             Other    9100        Expense
226  20/01/2023 20:57:54              Food    1736        Expense
227  20/01/2023 20:57:44              Food    2000        Expense
228  13/01/2023 18:21:33              Food     420        Expense
229  13/01/2023 18:21:15              Food    4516        Expense
230  13/01/2023 01:07:47              Food     310        Expense
231  11/01/2023 08:53:57              Food     120        Expense
232  11/01/2023 08:53:16              Food    1270        Expense
233  06/01/2023 18:33:29              Food    2576        Expense
234  06/01/2023 13:56:59              Food     600        Expense
235  05/01/2023 13:23:03             Other    3900        Expense
236  30/12/2022 13:22:36             Other    3800        Expense
237  29/12/2022 18:34:44         Allowance   50000         Income
238  24/12/2022 09:26:57              Food    2500        Expense
239  24/12/2022 09:25:57              Food    3601        Expense
240  21/12/2022 18:35:08       Social Life  150000        Expense
241  18/12/2022 22:06:53       Social Life   18917        Expense
242  17/12/2022 04:10:03              Food    1518        Expense
243  17/12/2022 04:09:54              Food    5000        Expense
244  06/12/2022 19:50:42         Allowance  132250         Income
245  06/12/2022 19:43:56             Other   25008        Expense
246  06/12/2022 19:43:25         Education     740        Expense
247  06/12/2022 19:42:47              Food    1704        Expense
248  30/11/2022 19:49:23         Household    3400        Expense
249  29/11/2022 10:25:55              Food    5148        Expense
250  29/11/2022 10:25:31              Food    7500        Expense
251  14/11/2022 11:15:59              Food    2811        Expense
252  14/11/2022 11:15:41           Apparel    2190        Expense
253  14/11/2022 11:15:13       Social Life    1000        Expense
254  14/11/2022 11:15:02              Food    2500        Expense
255  08/11/2022 17:06:43              Food    1672        Expense
256  07/11/2022 09:55:18         Allowance  132250         Income
257  07/11/2022 09:54:51       Social Life   22501        Expense
258  05/11/2022 22:24:35    Transportation    3000        Expense
259  03/11/2022 21:05:30       Social Life    2350        Expense
260  03/11/2022 21:05:14              Food     250        Expense
261  01/11/2022 12:21:08         Household    7500        Expense
262  31/10/2022 19:48:48         Household    3400        Expense
263  31/10/2022 12:21:32              Food    2500        Expense
264  30/10/2022 19:11:18           Apparel    4400        Expense
265  30/10/2022 19:10:56              Food    3000        Expense
266  30/10/2022 19:10:17              Food    7107        Expense
267  23/10/2022 13:48:07       Social Life   14637        Expense
268  23/10/2022 13:47:33    Transportation    5000        Expense
269  23/10/2022 13:47:22              Food    2500        Expense
270  17/10/2022 09:05:29         Household   37868        Expense
271  16/10/2022 16:29:44       Social Life    8100        Expense
272  16/10/2022 16:28:46              Food    2392        Expense
273  16/10/2022 16:28:25              Food    2500        Expense
274  10/10/2022 10:07:40         Allowance  132250         Income
275  10/10/2022 10:06:33              Food    3600        Expense
276  10/10/2022 10:06:19              Food    2500        Expense
277  30/09/2022 12:33:30         Household    2600        Expense
278  30/09/2022 12:33:07              Food    1860        Expense
279  25/09/2022 19:45:12             Other     110        Expense
280  25/09/2022 19:44:46              Food    3961        Expense
281  20/09/2022 19:22:15              Food     900        Expense
282  18/09/2022 16:25:53         Allowance  132250         Income
283  18/09/2022 16:25:28              Food    1037        Expense
284  18/09/2022 16:25:16         Household     220        Expense
285  17/09/2022 15:25:45              Food    3670        Expense
286  14/09/2022 23:13:28         Education    6500        Expense
287  14/09/2022 23:13:20    Transportation    9000        Expense
288  13/09/2022 21:39:29             Other   16117        Expense
289  11/09/2022 00:47:40              Food    1250        Expense
290  10/09/2022 22:01:50         Education    1199        Expense
291  10/09/2022 21:59:59              Food    5756        Expense
292  31/08/2022 21:13:39         Household    2300        Expense
293  24/08/2022 01:56:40              Food    3379        Expense
294  08/08/2022 00:42:18         Household     250        Expense
295  08/08/2022 00:41:48              Food    1521        Expense
296  08/08/2022 00:40:53              Food    4180        Expense
297  05/08/2022 21:14:01    Transportation   65274        Expense
298  05/08/2022 21:12:01           Apparel     390        Expense
299  05/08/2022 21:11:40              Food    1100        Expense
300  05/08/2022 21:11:24         Household     220        Expense
301  05/08/2022 21:10:23              Food    5351        Expense

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            596 non-null    object
 1   Category        596 non-null    object
 2   JPY             596 non-null    int64
 3   Income/Expense  596 non-null    object
dtypes: int64(1), object(3)
memory usage: 18.8+ KB

Here, I would like to extract information like **month, quarter** of a given date.

In [6]:
data['Date'] = pd.to_datetime(data['Date'])

print(data.info())

data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            596 non-null    datetime64[ns]
 1   Category        596 non-null    object
 2   JPY             596 non-null    int64
 3   Income/Expense  596 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 18.8+ KB
None

C:\Users\lovep\AppData\Local\Temp\ipykernel_22312\966193500.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['Date'] = pd.to_datetime(data['Date'])

                 Date        Category   JPY Income/Expense
0 2024-04-30 11:57:24       Household  2994        Expense
1 2024-04-29 11:23:47       Household   110        Expense
2 2024-04-29 11:23:26            Food  3932        Expense
3 2024-04-28 11:14:11  Transportation   950        Expense
4 2024-04-25 13:45:15            Food  1569        Expense

In [7]:
# data['year'] = pd.to_datetime(data['Date']).dt.year
data['month'] = pd.to_datetime(data['Date']).dt.month
data['quarter'] = pd.to_datetime(data['Date']).dt.quarter
# data.head()

In [8]:
data['Year&Month'] = data['Date'].dt.to_period('M')
data.head()

,Date,Category,JPY,Income/Expense,month,quarter,Year&Month
0,2024-04-30 11:57:24,Household,2994,Expense,4,2,2024-04
1,2024-04-29 11:23:47,Household,110,Expense,4,2,2024-04
2,2024-04-29 11:23:26,Food,3932,Expense,4,2,2024-04
3,2024-04-28 11:14:11,Transportation,950,Expense,4,2,2024-04
4,2024-04-25 13:45:15,Food,1569,Expense,4,2,2024-04

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            596 non-null    datetime64[ns]
 1   Category        596 non-null    object
 2   JPY             596 non-null    int64
 3   Income/Expense  596 non-null    object
 4   month           596 non-null    int32
 5   quarter         596 non-null    int32
 6   Year&Month      596 non-null    period[M]
dtypes: datetime64[ns](1), int32(2), int64(1), object(2), period[M](1)
memory usage: 28.1+ KB

I will remove the date column snce it is not needed anymore

In [10]:
data.drop(columns='Date',inplace=True)
data

             Category     JPY Income/Expense  month  quarter Year&Month
0           Household    2994        Expense      4        2    2024-04
1           Household     110        Expense      4        2    2024-04
2                Food    3932        Expense      4        2    2024-04
3      Transportation     950        Expense      4        2    2024-04
4                Food    1569        Expense      4        2    2024-04
5           Household    1000        Expense      4        2    2024-04
6                Food    9000        Expense      4        2    2024-04
7           Household    1000        Expense      4        2    2024-04
8                Food     108        Expense      4        2    2024-04
9           Household   29562        Expense      4        2    2024-04
10              Other    4200        Expense      4        2    2024-04
11               Food    2744        Expense      4        2    2024-04
12          Household     370        Expense      4        2    2024-04
13               Food     617        Expense      4        2    2024-04
14               Food    4447        Expense      4        2    2024-04
15          Allowance  153220         Income      4        2    2024-04
16        Social Life   21000        Expense      4        2    2024-04
17          Allowance  153220         Income      3        1    2024-03
18          Household    1190        Expense      3        1    2024-03
19          Household   27558        Expense      3        1    2024-03
20          Household    1661        Expense      3        1    2024-03
21               Food    4362        Expense      3        1    2024-03
22               Food    2068        Expense      3        1    2024-03
23              Other     660        Expense      3        1    2024-03
24               Food     327        Expense      3        1    2024-03
25               Food     776        Expense      3        1    2024-03
26               Food    4250        Expense      3        1    2024-03
27          Allowance  153220         Income      2        1    2024-02
28          Household    1499        Expense      2        1    2024-02
29          Household   27865        Expense      2        1    2024-02
30               Food    3020        Expense      2        1    2024-02
31              Other    2200        Expense      2        1    2024-02
32               Food    8080        Expense      2        1    2024-02
33     Transportation    5000        Expense      2        1    2024-02
34               Food    7516        Expense      2        1    2024-02
35          Household   10500        Expense      2        1    2024-02
36               Food    3002        Expense      2        1    2024-02
37               Food     108        Expense      1        1    2024-01
38          Allowance  153220         Income      1        1    2024-01
39          Household   29701        Expense      1        1    2024-01
40               Food     108        Expense      1        1    2024-01
41     Transportation    4000        Expense      1        1    2024-01
42          Education    4000        Expense      1        1    2024-01
43               Food    3674        Expense      1        1    2024-01
44               Food    1269        Expense      1        1    2024-01
45               Food    2076        Expense      1        1    2024-01
46               Food    4615        Expense      1        1    2024-01
47          Household     300        Expense      1        1    2024-01
48        Social Life    2050        Expense      1        1    2024-01
49               Food    7706        Expense      1        1    2024-01
50               Food     715        Expense      1        1    2024-01
51               Food    9377        Expense     12        4    2023-12
52               Food     950        Expense     12        4    2023-12
53               Food     409        Expense     12        4    2023-12
54               Food    2510        Expense     12        4    2023-12
55          Allowance  153220         Income     12        4    2023-12
56               Food    2422        Expense     12        4    2023-12
57          Household   31759        Expense     12        4    2023-12
58          Household    1100        Expense     12        4    2023-12
59        Social Life   17000        Expense     12        4    2023-12
60               Food    4505        Expense     12        4    2023-12
61               Food    2118        Expense     12        4    2023-12
62               Food    1260        Expense     12        4    2023-12
63               Food   11990        Expense     12        4    2023-12
64               Food     986        Expense     11        4    2023-11
65               Food    1388        Expense     11        4    2023-11
66          Household     658        Expense     11        4    2023-11
67               Food    3000        Expense     11        4    2023-11
68            Apparel    3126        Expense     11        4    2023-11
69          Household     917        Expense     11        4    2023-11
70               Food    5610        Expense     11        4    2023-11
71     Transportation   15000        Expense     11        4    2023-11
72               Food    1350        Expense     11        4    2023-11
73        Social Life   86315        Expense     11        4    2023-11
74        Social Life    9115        Expense     11        4    2023-11
75               Food    1698        Expense     11        4    2023-11
76               Food    1626        Expense     11        4    2023-11
77               Food    2709        Expense     11        4    2023-11
78          Household    1551        Expense     10        4    2023-10
79            Apparel    1714        Expense     10        4    2023-10
80               Food    3959        Expense     10        4    2023-10
81               Food    3429        Expense     10        4    2023-10
82          Household   27788        Expense     10        4    2023-10
83               Food    3122        Expense     10        4    2023-10
84          Allowance  132250         Income     10        4    2023-10
85          Household    1206        Expense     10        4    2023-10
86               Food     199        Expense     10        4    2023-10
87               Food    5433        Expense     10        4    2023-10
88          Allowance  132250         Income      9        3    2023-09
89          Household    2300        Expense      9        3    2023-09
90          Household   26635        Expense      9        3    2023-09
91              Other   90000        Expense      9        3    2023-09
92               Food     220        Expense      9        3    2023-09
93               Food    7505        Expense      9        3    2023-09
94        Social Life    3800        Expense      9        3    2023-09
95     Transportation    5000        Expense      9        3    2023-09
96               Food     730        Expense      9        3    2023-09
97               Food     400        Expense      8        3    2023-08
98        Social Life     800        Expense      8        3    2023-08
99               Food    5113        Expense      8        3    2023-08
100         Household    1500        Expense      8        3    2023-08
101              Food    4313        Expense      8        3    2023-08
102              Food    1760        Expense      8        3    2023-08
103           Apparel     590        Expense      8        3    2023-08
104              Food    2772        Expense      8        3    2023-08
105       Social Life   27304        Expense      8        3    2023-08
106         Household   30160        Expense      8        3    2023-08
107         Allowance  132250         Income      8        3    2023-08
108              Food    4301        Expense      8        3    2023-08
109              Food   13392        Expense      8        3    2023-08
110         Household   26453        Expense      7        3    2023-07
111         Household    1500        Expense      7        3    2023-07
112              Food     246        Expense      7        3    2023-07
113              Food     997        Expense      7        3    2023-07
114              Food    2490        Expense      7        3    2023-07
115         Allowance  132250         Income      7        3    2023-07
116              Food    2026        Expense      7        3    2023-07
117              Food    6440        Expense      7        3    2023-07
118              Food    5496        Expense      7        3    2023-07
119              Food    1100        Expense      7        3    2023-07
120              Food     546        Expense      7        3    2023-07
121              Food    1480        Expense      7        3    2023-07
122              Food    2645        Expense      7        3    2023-07
123              Food    6579        Expense      6        2    2023-06
124         Household   23000        Expense      6        2    2023-06
125             Other    1200        Expense      6        2    2023-06
126         Allowance  132250         Income      6        2    2023-06
127              Food     276        Expense      6        2    2023-06
128              Food     130        Expense      6        2    2023-06
129           Apparel     330        Expense      6        2    2023-06
130              Food    3444        Expense      6        2    2023-06
131              Food    4426        Expense      6        2    2023-06
132              Food    4715        Expense      6        2    2023-06
133         Household   30250        Expense      5        2    2023-05
134              Food    2243        Expense      5        2    2023-05
135              Food    2147        Expense      5        2    2023-05
136              Food    2091        Expense      5        2    2023-05
137    Transportation    5000        Expense      5        2    2023-05
138              Food    2066        Expense      5        2    2023-05
139         Allowance  132250         Income      5        2    2023-05
140              Food    1008        Expense      5        2    2023-05
141              Food    2743        Expense      5        2    2023-05
142              Food     325        Expense      5        2    2023-05
143              Food    3969        Expense      5        2    2023-05
144              Food    1616        Expense      5        2    2023-05
145       Social Life   13803        Expense      5        2    2023-05
146             Other    1200        Expense      5        2    2023-05
147         Household   31347        Expense      4        2    2023-04
148              Food    3000        Expense      4        2    2023-04
149         Household     548        Expense      4        2    2023-04
150              Food    1726        Expense      4        2    2023-04
151              Food     941        Expense      4        2    2023-04
152              Food    1240        Expense      4        2    2023-04
153             Other    3900        Expense      4        2    2023-04
154              Food    1063        Expense      4        2    2023-04
155              Food     500        Expense      4        2    2023-04
156             Other    5966        Expense      4        2    2023-04
157         Education   45300        Expense      4        2    2023-04
158              Food    6864        Expense      4        2    2023-04
159              Food     369        Expense      4        2    2023-04
160              Food     550        Expense      4        2    2023-04
161              Food     241        Expense      4        2    2023-04
162              Food     369        Expense      4        2    2023-04
163         Household    1500        Expense      4        2    2023-04
164              Food    1694        Expense      4        2    2023-04
165              Food    1486        Expense      4        2    2023-04
166         Allowance  132250         Income      4        2    2023-04
167              Food     418        Expense      4        2    2023-04
168         Education   13500        Expense      4        2    2023-04
169         Household     218        Expense      4        2    2023-04
170         Education   24767        Expense      4        2    2023-04
171              Food     963        Expense      4        2    2023-04
172              Food    4660        Expense      4        2    2023-04
173         Household     222        Expense      4        2    2023-04
174              Food    1171        Expense      4        2    2023-04
175              Food     286        Expense      4        2    2023-04
176    Transportation    5000        Expense      4        2    2023-04
177         Household     550        Expense      3        1    2023-03
178              Food    3214        Expense      3        1    2023-03
179              Food    1571        Expense      3        1    2023-03
180         Household     110        Expense      3        1    2023-03
181              Food    4415        Expense      3        1    2023-03
182         Household    1650        Expense      3        1    2023-03
183         Household    1540        Expense      3        1    2023-03
184              Food    6193        Expense      3        1    2023-03
185       Social Life   11568        Expense      3        1    2023-03
186    Transportation    7540        Expense      3        1    2023-03
187              Food     256        Expense      3        1    2023-03
188       Social Life     715        Expense      3        1    2023-03
189         Household    2000        Expense      3        1    2023-03
190              Food     447        Expense      3        1    2023-03
191         Household    2088        Expense      3        1    2023-03
192              Food    3764        Expense      3        1    2023-03
193             Other   30289        Expense      3        1    2023-03
194              Food    2150        Expense      3        1    2023-03
195    Transportation    5000        Expense      3        1    2023-03
196             Other    3900        Expense      3        1    2023-03
197         Allowance  132250         Income      3        1    2023-03
198         Household   77500        Expense      3        1    2023-03
199              Food    1813        Expense      3        1    2023-03
200           Apparel     330        Expense      3        1    2023-03
201              Food    1456        Expense      3        1    2023-03
202              Food    2380        Expense      2        1    2023-02
203              Food    4111        Expense      2        1    2023-02
204              Food     354        Expense      2        1    2023-02
205              Food    1200        Expense      2        1    2023-02
206              Food      84        Expense      2        1    2023-02
207           Apparel     770        Expense      2        1    2023-02
208           Apparel     712        Expense      2        1    2023-02
209         Allowance  132250         Income      2        1    2023-02
210         Education   78090        Expense      2        1    2023-02
211             Other     380        Expense      2        1    2023-02
212              Food    2500        Expense      2        1    2023-02
213             Other     370        Expense      2        1    2023-02
214              Food     870        Expense      2        1    2023-02
215              Food    1405        Expense      2        1    2023-02
216              Food    2000        Expense      2        1    2023-02
217              Food    1723        Expense      2        1    2023-02
218             Other    3900        Expense      2        1    2023-02
219         Allowance  132250         Income      1        1    2023-01
220              Food     400        Expense      1        1    2023-01
221              Food     262        Expense      1        1    2023-01
222    Transportation    7000        Expense      1        1    2023-01
223              Food     340        Expense      1        1    2023-01
224             Other    2891        Expense      1        1    2023-01
225             Other    9100        Expense      1        1    2023-01
226              Food    1736        Expense      1        1    2023-01
227              Food    2000        Expense      1        1    2023-01
228              Food     420        Expense      1        1    2023-01
229              Food    4516        Expense      1        1    2023-01
230              Food     310        Expense      1        1    2023-01
231              Food     120        Expense      1        1    2023-01
232              Food    1270        Expense      1        1    2023-01
233              Food    2576        Expense      1        1    2023-01
234              Food     600        Expense      1        1    2023-01
235             Other    3900        Expense      1        1    2023-01
236             Other    3800        Expense     12        4    2022-12
237         Allowance   50000         Income     12        4    2022-12
238              Food    2500        Expense     12        4    2022-12
239              Food    3601        Expense     12        4    2022-12
240       Social Life  150000        Expense     12        4    2022-12
241       Social Life   18917        Expense     12        4    2022-12
242              Food    1518        Expense     12        4    2022-12
243              Food    5000        Expense     12        4    2022-12
244         Allowance  132250         Income     12        4    2022-12
245             Other   25008        Expense     12        4    2022-12
246         Education     740        Expense     12        4    2022-12
247              Food    1704        Expense     12        4    2022-12
248         Household    3400        Expense     11        4    2022-11
249              Food    5148        Expense     11        4    2022-11
250              Food    7500        Expense     11        4    2022-11
251              Food    2811        Expense     11        4    2022-11
252           Apparel    2190        Expense     11        4    2022-11
253       Social Life    1000        Expense     11        4    2022-11
254              Food    2500        Expense     11        4    2022-11
255              Food    1672        Expense     11        4    2022-11
256         Allowance  132250         Income     11        4    2022-11
257       Social Life   22501        Expense     11        4    2022-11
258    Transportation    3000        Expense     11        4    2022-11
259       Social Life    2350        Expense     11        4    2022-11
260              Food     250        Expense     11        4    2022-11
261         Household    7500        Expense     11        4    2022-11
262         Household    3400        Expense     10        4    2022-10
263              Food    2500        Expense     10        4    2022-10
264           Apparel    4400        Expense     10        4    2022-10
265              Food    3000        Expense     10        4    2022-10
266              Food    7107        Expense     10        4    2022-10
267       Social Life   14637        Expense     10        4    2022-10
268    Transportation    5000        Expense     10        4    2022-10
269              Food    2500        Expense     10        4    2022-10
270         Household   37868        Expense     10        4    2022-10
271       Social Life    8100        Expense     10        4    2022-10
272              Food    2392        Expense     10        4    2022-10
273              Food    2500        Expense     10        4    2022-10
274         Allowance  132250         Income     10        4    2022-10
275              Food    3600        Expense     10        4    2022-10

To get the sum of expenses or savings of any category in a given month, I used groupby function and sum method.

In [11]:
data1 = data.groupby(['Year&Month','Category','Income/Expense','month','quarter'])['JPY'].sum()
data1 = pd.DataFrame(data1)
data1

                                                             JPY
Year&Month Category         Income/Expense month quarter
2021-04    Allowance        Income         4     2        132250
           Education        Expense        4     2          1980
           Food             Expense        4     2          3141
           Other            Expense        4     2         94421
                            Income         4     2          3278
           Salary           Income         4     2         46416
2021-05    Allowance        Income         5     2        132250
           Education        Expense        5     2          1760
           Food             Expense        5     2         18829
           Gift             Expense        5     2          2885
           Other            Expense        5     2           800
           Salary           Income         5     2         28957
           Self-development Expense        5     2         28056
2021-06    Allowance        Income         6     2        132250
           Food             Expense        6     2         23623
           Gift             Expense        6     2           973
           Other            Expense        6     2           110
           Salary           Income         6     2         27077
2021-07    Food             Expense        7     3         19500
           Gift             Expense        7     3          2030
           Health           Expense        7     3           460
           Other            Expense        7     3         56471
                            Income         7     3        132250
           Salary           Income         7     3         19314
2021-08    Allowance        Income         8     3        132250
           Education        Expense        8     3          7810
           Food             Expense        8     3         21125
           Household        Expense        8     3           440
           Other            Expense        8     3           480
           Salary           Income         8     3          9454
2021-09    Allowance        Income         9     3        132250
           Apparel          Expense        9     3          1990
           Food             Expense        9     3         27490
           Salary           Income         9     3         56483
           Social Life      Expense        9     3          3200
2021-10    Allowance        Income         10    4        132250
           Apparel          Expense        10    4          5380
           Education        Expense        10    4         38368
           Food             Expense        10    4         33605
           Household        Expense        10    4          1840
           Salary           Income         10    4         29865
           Transportation   Expense        10    4         11000
2021-11    Allowance        Income         11    4        132250
           Food             Expense        11    4         26525
2021-12    Allowance        Income         12    4        132250
           Apparel          Expense        12    4          4775
           Food             Expense        12    4         17742
           Gift             Expense        12    4           715
           Other            Expense        12    4        114200
           Transportation   Expense        12    4           860
2022-01    Allowance        Income         1     1        132250
           Apparel          Expense        1     1           220
           Food             Expense        1     1         15718
           Household        Expense        1     1          3300
2022-02    Allowance        Income         2     1        132250
           Food             Expense        2     1         20125
           Household        Expense        2     1          3520
           Social Life      Expense        2     1          2736
2022-03    Allowance        Income         3     1        132250
           Apparel          Expense        3     1          2000
           Bonus            Income         3     1        100000
           Food             Expense        3     1         21153
           Household        Expense        3     1          3300
           Social Life      Expense        3     1         10037
2022-04    Allowance        Income         4     2        132250
           Education        Expense        4     2         20500
           Food             Expense        4     2         25126
           Household        Expense        4     2          3300
           Other            Expense        4     2           420
2022-05    Allowance        Income         5     2        132250
           Apparel          Expense        5     2          2300
           Education        Expense        5     2         76638
           Food             Expense        5     2         22939
           Household        Expense        5     2          3520
           Other            Expense        5     2          4300
2022-06    Allowance        Income         6     2        132250
           Apparel          Expense        6     2          3010
           Education        Expense        6     2           700
           Food             Expense        6     2         18483
           Other            Expense        6     2          2300
2022-07    Allowance        Income         7     3        132250
           Education        Expense        7     3         17660
           Food             Expense        7     3         26941
           Household        Expense        7     3          5684
           Other            Expense        7     3         24000
2022-08    Allowance        Income         8     3        132250
           Apparel          Expense        8     3           390
           Food             Expense        8     3         19831
           Household        Expense        8     3          2770
           Transportation   Expense        8     3         65274
2022-09    Allowance        Income         9     3        132250
           Education        Expense        9     3          7699
           Food             Expense        9     3         18434
           Household        Expense        9     3          2820
           Other            Expense        9     3         16227
           Transportation   Expense        9     3          9000
2022-10    Allowance        Income         10    4        132250
           Apparel          Expense        10    4          4400
           Food             Expense        10    4         26099
           Household        Expense        10    4         41268
           Social Life      Expense        10    4         22737
           Transportation   Expense        10    4          5000
2022-11    Allowance        Income         11    4        132250
           Apparel          Expense        11    4          2190
           Food             Expense        11    4         19881
           Household        Expense        11    4         10900
           Social Life      Expense        11    4         25851
           Transportation   Expense        11    4          3000
2022-12    Allowance        Income         12    4        182250
           Education        Expense        12    4           740
           Food             Expense        12    4         14323
           Other            Expense        12    4         28808
           Social Life      Expense        12    4        168917
2023-01    Allowance        Income         1     1        132250
           Food             Expense        1     1         14550
           Other            Expense        1     1         15891
           Transportation   Expense        1     1          7000
2023-02    Allowance        Income         2     1        132250
           Apparel          Expense        2     1          1482
           Education        Expense        2     1         78090
           Food             Expense        2     1         16627
           Other            Expense        2     1          4650
2023-03    Allowance        Income         3     1        132250
           Apparel          Expense        3     1           330
           Food             Expense        3     1         25279
           Household        Expense        3     1         85438
           Other            Expense        3     1         34189
           Social Life      Expense        3     1         12283
           Transportation   Expense        3     1         12540
2023-04    Allowance        Income         4     2        132250
           Education        Expense        4     2         83567
           Food             Expense        4     2         27541
           Household        Expense        4     2         33835
           Other            Expense        4     2          9866
           Transportation   Expense        4     2          5000
2023-05    Allowance        Income         5     2        132250
           Food             Expense        5     2         18208
           Household        Expense        5     2         30250
           Other            Expense        5     2          1200
           Social Life      Expense        5     2         13803
           Transportation   Expense        5     2          5000
2023-06    Allowance        Income         6     2        132250
           Apparel          Expense        6     2           330
           Food             Expense        6     2         19570
           Household        Expense        6     2         23000
           Other            Expense        6     2          1200
2023-07    Allowance        Income         7     3        132250
           Food             Expense        7     3         23466
           Household        Expense        7     3         27953
2023-08    Allowance        Income         8     3        132250
           Apparel          Expense        8     3           590
           Food             Expense        8     3         32051
           Household        Expense        8     3         31660
           Social Life      Expense        8     3         28104
2023-09    Allowance        Income         9     3        132250
           Food             Expense        9     3          8455
           Household        Expense        9     3         28935
           Other            Expense        9     3         90000
           Social Life      Expense        9     3          3800
           Transportation   Expense        9     3          5000
2023-10    Allowance        Income         10    4        132250
           Apparel          Expense        10    4          1714
           Food             Expense        10    4         16142
           Household        Expense        10    4         30545
2023-11    Apparel          Expense        11    4          3126
           Food             Expense        11    4         18367
           Household        Expense        11    4          1575
           Social Life      Expense        11    4         95430
           Transportation   Expense        11    4         15000
2023-12    Allowance        Income         12    4        153220
           Food             Expense        12    4         35541
           Household        Expense        12    4         32859
           Social Life      Expense        12    4         17000
2024-01    Allowance        Income         1     1        153220
           Education        Expense        1     1          4000
           Food             Expense        1     1         20271
           Household        Expense        1     1         30001
           Social Life      Expense        1     1          2050
           Transportation   Expense        1     1          4000
2024-02    Allowance        Income         2     1        153220
           Food             Expense        2     1         21618
           Household        Expense        2     1         39864
           Other            Expense        2     1          2200
           Transportation   Expense        2     1          5000
2024-03    Allowance        Income         3     1        153220
           Food             Expense        3     1         11783
           Household        Expense        3     1         30409
           Other            Expense        3     1           660
2024-04    Allowance        Income         4     2        153220
           Food             Expense        4     2         22417
           Household        Expense        4     2         35036
           Other            Expense        4     2          4200
           Social Life      Expense        4     2         21000
           Transportation   Expense        4     2           950

**Reset** the index here so that we can handle the data more easily in Power BI later.

In [12]:
data1 = data1.reset_index()

In [13]:
data1[data1.Category == 'Other']

    Year&Month Category Income/Expense  month  quarter     JPY
3      2021-04    Other        Expense      4        2   94421
4      2021-04    Other         Income      4        2    3278
10     2021-05    Other        Expense      5        2     800
16     2021-06    Other        Expense      6        2     110
21     2021-07    Other        Expense      7        3   56471
22     2021-07    Other         Income      7        3  132250
28     2021-08    Other        Expense      8        3     480
48     2021-12    Other        Expense     12        4  114200
68     2022-04    Other        Expense      4        2     420
74     2022-05    Other        Expense      5        2    4300
79     2022-06    Other        Expense      6        2    2300
84     2022-07    Other        Expense      7        3   24000
94     2022-09    Other        Expense      9        3   16227
111    2022-12    Other        Expense     12        4   28808
115    2023-01    Other        Expense      1        1   15891
121    2023-02    Other        Expense      2        1    4650
126    2023-03    Other        Expense      3        1   34189
133    2023-04    Other        Expense      4        2    9866
138    2023-05    Other        Expense      5        2    1200
145    2023-06    Other        Expense      6        2    1200
157    2023-09    Other        Expense      9        3   90000
182    2024-02    Other        Expense      2        1    2200
187    2024-03    Other        Expense      3        1     660
191    2024-04    Other        Expense      4        2    4200

I manually manipulated the data entry here as there is a mistake in the categorization.

In [14]:
data1.at[22,'Category'] = 'Allowance'
data1.rename(columns={'month':'Month','quarter':'Quarter'},inplace=True)
data1.head()

  Year&Month   Category Income/Expense  Month  Quarter     JPY
0    2021-04  Allowance         Income      4        2  132250
1    2021-04  Education        Expense      4        2    1980
2    2021-04       Food        Expense      4        2    3141
3    2021-04      Other        Expense      4        2   94421
4    2021-04      Other         Income      4        2    3278

In [15]:
data1.iloc[22]

Year&Month          2021-07
Category          Allowance
Income/Expense       Income
Month                     7
Quarter                   3
JPY                  132250
Name: 22, dtype: object

In [16]:
data1.to_csv('cleaned_data.csv', sep=',',index=False)
data1.to_excel('cleaned_data.xlsx')

# Create a pivot table for Visualization based on Category of Income/Expenses

In [18]:
df = pd.read_csv('./cleaned_data.csv')
df

    Year&Month          Category Income/Expense  Month  Quarter     JPY
0      2021-04         Allowance         Income      4        2  132250
1      2021-04         Education        Expense      4        2    1980
2      2021-04              Food        Expense      4        2    3141
3      2021-04             Other        Expense      4        2   94421
4      2021-04             Other         Income      4        2    3278
5      2021-04            Salary         Income      4        2   46416
6      2021-05         Allowance         Income      5        2  132250
7      2021-05         Education        Expense      5        2    1760
8      2021-05              Food        Expense      5        2   18829
9      2021-05              Gift        Expense      5        2    2885
10     2021-05             Other        Expense      5        2     800
11     2021-05            Salary         Income      5        2   28957
12     2021-05  Self-development        Expense      5        2   28056
13     2021-06         Allowance         Income      6        2  132250
14     2021-06              Food        Expense      6        2   23623
15     2021-06              Gift        Expense      6        2     973
16     2021-06             Other        Expense      6        2     110
17     2021-06            Salary         Income      6        2   27077
18     2021-07              Food        Expense      7        3   19500
19     2021-07              Gift        Expense      7        3    2030
20     2021-07            Health        Expense      7        3     460
21     2021-07             Other        Expense      7        3   56471
22     2021-07         Allowance         Income      7        3  132250
23     2021-07            Salary         Income      7        3   19314
24     2021-08         Allowance         Income      8        3  132250
25     2021-08         Education        Expense      8        3    7810
26     2021-08              Food        Expense      8        3   21125
27     2021-08         Household        Expense      8        3     440
28     2021-08             Other        Expense      8        3     480
29     2021-08            Salary         Income      8        3    9454
30     2021-09         Allowance         Income      9        3  132250
31     2021-09           Apparel        Expense      9        3    1990
32     2021-09              Food        Expense      9        3   27490
33     2021-09            Salary         Income      9        3   56483
34     2021-09       Social Life        Expense      9        3    3200
35     2021-10         Allowance         Income     10        4  132250
36     2021-10           Apparel        Expense     10        4    5380
37     2021-10         Education        Expense     10        4   38368
38     2021-10              Food        Expense     10        4   33605
39     2021-10         Household        Expense     10        4    1840
40     2021-10            Salary         Income     10        4   29865
41     2021-10    Transportation        Expense     10        4   11000
42     2021-11         Allowance         Income     11        4  132250
43     2021-11              Food        Expense     11        4   26525
44     2021-12         Allowance         Income     12        4  132250
45     2021-12           Apparel        Expense     12        4    4775
46     2021-12              Food        Expense     12        4   17742
47     2021-12              Gift        Expense     12        4     715
48     2021-12             Other        Expense     12        4  114200
49     2021-12    Transportation        Expense     12        4     860
50     2022-01         Allowance         Income      1        1  132250
51     2022-01           Apparel        Expense      1        1     220
52     2022-01              Food        Expense      1        1   15718
53     2022-01         Household        Expense      1        1    3300
54     2022-02         Allowance         Income      2        1  132250
55     2022-02              Food        Expense      2        1   20125
56     2022-02         Household        Expense      2        1    3520
57     2022-02       Social Life        Expense      2        1    2736
58     2022-03         Allowance         Income      3        1  132250
59     2022-03           Apparel        Expense      3        1    2000
60     2022-03             Bonus         Income      3        1  100000
61     2022-03              Food        Expense      3        1   21153
62     2022-03         Household        Expense      3        1    3300
63     2022-03       Social Life        Expense      3        1   10037
64     2022-04         Allowance         Income      4        2  132250
65     2022-04         Education        Expense      4        2   20500
66     2022-04              Food        Expense      4        2   25126
67     2022-04         Household        Expense      4        2    3300
68     2022-04             Other        Expense      4        2     420
69     2022-05         Allowance         Income      5        2  132250
70     2022-05           Apparel        Expense      5        2    2300
71     2022-05         Education        Expense      5        2   76638
72     2022-05              Food        Expense      5        2   22939
73     2022-05         Household        Expense      5        2    3520
74     2022-05             Other        Expense      5        2    4300
75     2022-06         Allowance         Income      6        2  132250
76     2022-06           Apparel        Expense      6        2    3010
77     2022-06         Education        Expense      6        2     700
78     2022-06              Food        Expense      6        2   18483
79     2022-06             Other        Expense      6        2    2300
80     2022-07         Allowance         Income      7        3  132250
81     2022-07         Education        Expense      7        3   17660
82     2022-07              Food        Expense      7        3   26941
83     2022-07         Household        Expense      7        3    5684
84     2022-07             Other        Expense      7        3   24000
85     2022-08         Allowance         Income      8        3  132250
86     2022-08           Apparel        Expense      8        3     390
87     2022-08              Food        Expense      8        3   19831
88     2022-08         Household        Expense      8        3    2770
89     2022-08    Transportation        Expense      8        3   65274
90     2022-09         Allowance         Income      9        3  132250
91     2022-09         Education        Expense      9        3    7699
92     2022-09              Food        Expense      9        3   18434
93     2022-09         Household        Expense      9        3    2820
94     2022-09             Other        Expense      9        3   16227
95     2022-09    Transportation        Expense      9        3    9000
96     2022-10         Allowance         Income     10        4  132250
97     2022-10           Apparel        Expense     10        4    4400
98     2022-10              Food        Expense     10        4   26099
99     2022-10         Household        Expense     10        4   41268
100    2022-10       Social Life        Expense     10        4   22737
101    2022-10    Transportation        Expense     10        4    5000
102    2022-11         Allowance         Income     11        4  132250
103    2022-11           Apparel        Expense     11        4    2190
104    2022-11              Food        Expense     11        4   19881
105    2022-11         Household        Expense     11        4   10900
106    2022-11       Social Life        Expense     11        4   25851
107    2022-11    Transportation        Expense     11        4    3000
108    2022-12         Allowance         Income     12        4  182250
109    2022-12         Education        Expense     12        4     740
110    2022-12              Food        Expense     12        4   14323
111    2022-12             Other        Expense     12        4   28808
112    2022-12       Social Life        Expense     12        4  168917
113    2023-01         Allowance         Income      1        1  132250
114    2023-01              Food        Expense      1        1   14550
115    2023-01             Other        Expense      1        1   15891
116    2023-01    Transportation        Expense      1        1    7000
117    2023-02         Allowance         Income      2        1  132250
118    2023-02           Apparel        Expense      2        1    1482
119    2023-02         Education        Expense      2        1   78090
120    2023-02              Food        Expense      2        1   16627
121    2023-02             Other        Expense      2        1    4650
122    2023-03         Allowance         Income      3        1  132250
123    2023-03           Apparel        Expense      3        1     330
124    2023-03              Food        Expense      3        1   25279
125    2023-03         Household        Expense      3        1   85438
126    2023-03             Other        Expense      3        1   34189
127    2023-03       Social Life        Expense      3        1   12283
128    2023-03    Transportation        Expense      3        1   12540
129    2023-04         Allowance         Income      4        2  132250
130    2023-04         Education        Expense      4        2   83567
131    2023-04              Food        Expense      4        2   27541
132    2023-04         Household        Expense      4        2   33835
133    2023-04             Other        Expense      4        2    9866
134    2023-04    Transportation        Expense      4        2    5000
135    2023-05         Allowance         Income      5        2  132250
136    2023-05              Food        Expense      5        2   18208
137    2023-05         Household        Expense      5        2   30250
138    2023-05             Other        Expense      5        2    1200
139    2023-05       Social Life        Expense      5        2   13803
140    2023-05    Transportation        Expense      5        2    5000
141    2023-06         Allowance         Income      6        2  132250
142    2023-06           Apparel        Expense      6        2     330
143    2023-06              Food        Expense      6        2   19570
144    2023-06         Household        Expense      6        2   23000
145    2023-06             Other        Expense      6        2    1200
146    2023-07         Allowance         Income      7        3  132250
147    2023-07              Food        Expense      7        3   23466
148    2023-07         Household        Expense      7        3   27953
149    2023-08         Allowance         Income      8        3  132250
150    2023-08           Apparel        Expense      8        3     590
151    2023-08              Food        Expense      8        3   32051
152    2023-08         Household        Expense      8        3   31660
153    2023-08       Social Life        Expense      8        3   28104
154    2023-09         Allowance         Income      9        3  132250
155    2023-09              Food        Expense      9        3    8455
156    2023-09         Household        Expense      9        3   28935
157    2023-09             Other        Expense      9        3   90000
158    2023-09       Social Life        Expense      9        3    3800
159    2023-09    Transportation        Expense      9        3    5000
160    2023-10         Allowance         Income     10        4  132250
161    2023-10           Apparel        Expense     10        4    1714
162    2023-10              Food        Expense     10        4   16142
163    2023-10         Household        Expense     10        4   30545
164    2023-11           Apparel        Expense     11        4    3126
165    2023-11              Food        Expense     11        4   18367
166    2023-11         Household        Expense     11        4    1575
167    2023-11       Social Life        Expense     11        4   95430
168    2023-11    Transportation        Expense     11        4   15000
169    2023-12         Allowance         Income     12        4  153220
170    2023-12              Food        Expense     12        4   35541
171    2023-12         Household        Expense     12        4   32859
172    2023-12       Social Life        Expense     12        4   17000
173    2024-01         Allowance         Income      1        1  153220
174    2024-01         Education        Expense      1        1    4000
175    2024-01              Food        Expense      1        1   20271
176    2024-01         Household        Expense      1        1   30001
177    2024-01       Social Life        Expense      1        1    2050
178    2024-01    Transportation        Expense      1        1    4000
179    2024-02         Allowance         Income      2        1  153220
180    2024-02              Food        Expense      2        1   21618
181    2024-02         Household        Expense      2        1   39864
182    2024-02             Other        Expense      2        1    2200
183    2024-02    Transportation        Expense      2        1    5000
184    2024-03         Allowance         Income      3        1  153220
185    2024-03              Food        Expense      3        1   11783
186    2024-03         Household        Expense      3        1   30409
187    2024-03             Other        Expense      3        1     660
188    2024-04         Allowance         Income      4        2  153220
189    2024-04              Food        Expense      4        2   22417
190    2024-04         Household        Expense      4        2   35036
191    2024-04             Other        Expense      4        2    4200
192    2024-04       Social Life        Expense      4        2   21000
193    2024-04    Transportation        Expense      4        2     950

In [19]:
df.drop(['Income/Expense','Month','Quarter'],axis=1,inplace=True)

In [20]:
pt = pd.pivot_table(df, index='Category',columns='Year&Month')
pt

                       JPY                                                    \
Year&Month         2021-04   2021-05   2021-06   2021-07   2021-08   2021-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                NaN       NaN       NaN       NaN       NaN    1990.0
Bonus                  NaN       NaN       NaN       NaN       NaN       NaN
Education           1980.0    1760.0       NaN       NaN    7810.0       NaN
Food                3141.0   18829.0   23623.0   19500.0   21125.0   27490.0
Gift                   NaN    2885.0     973.0    2030.0       NaN       NaN
Health                 NaN       NaN       NaN     460.0       NaN       NaN
Household              NaN       NaN       NaN       NaN     440.0       NaN
Other              48849.5     800.0     110.0   56471.0     480.0       NaN
Salary             46416.0   28957.0   27077.0   19314.0    9454.0   56483.0
Self-development       NaN   28056.0       NaN       NaN       NaN       NaN
Social Life            NaN       NaN       NaN       NaN       NaN    3200.0
Transportation         NaN       NaN       NaN       NaN       NaN       NaN

                                                                              \
Year&Month         2021-10   2021-11   2021-12   2022-01   2022-02   2022-03
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel             5380.0       NaN    4775.0     220.0       NaN    2000.0
Bonus                  NaN       NaN       NaN       NaN       NaN  100000.0
Education          38368.0       NaN       NaN       NaN       NaN       NaN
Food               33605.0   26525.0   17742.0   15718.0   20125.0   21153.0
Gift                   NaN       NaN     715.0       NaN       NaN       NaN
Health                 NaN       NaN       NaN       NaN       NaN       NaN
Household           1840.0       NaN       NaN    3300.0    3520.0    3300.0
Other                  NaN       NaN  114200.0       NaN       NaN       NaN
Salary             29865.0       NaN       NaN       NaN       NaN       NaN
Self-development       NaN       NaN       NaN       NaN       NaN       NaN
Social Life            NaN       NaN       NaN       NaN    2736.0   10037.0
Transportation     11000.0       NaN     860.0       NaN       NaN       NaN

                                                                              \
Year&Month         2022-04   2022-05   2022-06   2022-07   2022-08   2022-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                NaN    2300.0    3010.0       NaN     390.0       NaN
Bonus                  NaN       NaN       NaN       NaN       NaN       NaN
Education          20500.0   76638.0     700.0   17660.0       NaN    7699.0
Food               25126.0   22939.0   18483.0   26941.0   19831.0   18434.0
Gift                   NaN       NaN       NaN       NaN       NaN       NaN
Health                 NaN       NaN       NaN       NaN       NaN       NaN
Household           3300.0    3520.0       NaN    5684.0    2770.0    2820.0
Other                420.0    4300.0    2300.0   24000.0       NaN   16227.0
Salary                 NaN       NaN       NaN       NaN       NaN       NaN
Self-development       NaN       NaN       NaN       NaN       NaN       NaN
Social Life            NaN       NaN       NaN       NaN       NaN       NaN
Transportation         NaN       NaN       NaN       NaN   65274.0    9000.0

                                                                              \
Year&Month         2022-10   2022-11   2022-12   2023-01   2023-02   2023-03
Category
Allowance         132250.0  132250.0  182250.0  132250.0  132250.0  132250.0
Apparel             4400.0    2190.0       NaN       NaN    1482.0     330.0
Bonus                  NaN       NaN       NaN       NaN       NaN       NaN
Education              NaN       NaN     740.0       NaN   78090.0       NaN
Food               26099.0   19881.0   14323.0   14550.0   16627.0   25279.0
Gift                   NaN       NaN       NaN       NaN       NaN       NaN
Health                 NaN       NaN       NaN       NaN       NaN       NaN
Household          41268.0   10900.0       NaN       NaN       NaN   85438.0
Other                  NaN       NaN   28808.0   15891.0    4650.0   34189.0
Salary                 NaN       NaN       NaN       NaN       NaN       NaN
Self-development       NaN       NaN       NaN       NaN       NaN       NaN
Social Life        22737.0   25851.0  168917.0       NaN       NaN   12283.0
Transportation      5000.0    3000.0       NaN    7000.0       NaN   12540.0

                                                                              \
Year&Month         2023-04   2023-05   2023-06   2023-07   2023-08   2023-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                NaN       NaN     330.0       NaN     590.0       NaN
Bonus                  NaN       NaN       NaN       NaN       NaN       NaN
Education          83567.0       NaN       NaN       NaN       NaN       NaN
Food               27541.0   18208.0   19570.0   23466.0   32051.0    8455.0
Gift                   NaN       NaN       NaN       NaN       NaN       NaN
Health                 NaN       NaN       NaN       NaN       NaN       NaN
Household          33835.0   30250.0   23000.0   27953.0   31660.0   28935.0
Other               9866.0    1200.0    1200.0       NaN       NaN   90000.0
Salary                 NaN       NaN       NaN       NaN       NaN       NaN
Self-development       NaN       NaN       NaN       NaN       NaN       NaN
Social Life            NaN   13803.0       NaN       NaN   28104.0    3800.0
Transportation      5000.0    5000.0       NaN       NaN       NaN    5000.0

                                                                             \
Year&Month         2023-10  2023-11   2023-12   2024-01   2024-02   2024-03
Category
Allowance         132250.0      NaN  153220.0  153220.0  153220.0  153220.0
Apparel             1714.0   3126.0       NaN       NaN       NaN       NaN
Bonus                  NaN      NaN       NaN       NaN       NaN       NaN
Education              NaN      NaN       NaN    4000.0       NaN       NaN
Food               16142.0  18367.0   35541.0   20271.0   21618.0   11783.0
Gift                   NaN      NaN       NaN       NaN       NaN       NaN
Health                 NaN      NaN       NaN       NaN       NaN       NaN
Household          30545.0   1575.0   32859.0   30001.0   39864.0   30409.0
Other                  NaN      NaN       NaN       NaN    2200.0     660.0
Salary                 NaN      NaN       NaN       NaN       NaN       NaN
Self-development       NaN      NaN       NaN       NaN       NaN       NaN
Social Life            NaN  95430.0   17000.0    2050.0       NaN       NaN
Transportation         NaN  15000.0       NaN    4000.0    5000.0       NaN


Year&Month         2024-04
Category
Allowance         153220.0
Apparel                NaN
Bonus                  NaN
Education              NaN
Food               22417.0
Gift                   NaN
Health                 NaN
Household          35036.0
Other               4200.0
Salary                 NaN
Self-development       NaN
Social Life        21000.0
Transportation       950.0

In [21]:
# pt.fillna(0)
pt = pt.replace(np.nan, 0)

In [22]:
pt.isnull().sum()

     Year&Month
JPY  2021-04       0
     2021-05       0
     2021-06       0
     2021-07       0
     2021-08       0
     2021-09       0
     2021-10       0
     2021-11       0
     2021-12       0
     2022-01       0
     2022-02       0
     2022-03       0
     2022-04       0
     2022-05       0
     2022-06       0
     2022-07       0
     2022-08       0
     2022-09       0
     2022-10       0
     2022-11       0
     2022-12       0
     2023-01       0
     2023-02       0
     2023-03       0
     2023-04       0
     2023-05       0
     2023-06       0
     2023-07       0
     2023-08       0
     2023-09       0
     2023-10       0
     2023-11       0
     2023-12       0
     2024-01       0
     2024-02       0
     2024-03       0
     2024-04       0
dtype: int64

In [23]:
pt

                       JPY                                                    \
Year&Month         2021-04   2021-05   2021-06   2021-07   2021-08   2021-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                0.0       0.0       0.0       0.0       0.0    1990.0
Bonus                  0.0       0.0       0.0       0.0       0.0       0.0
Education           1980.0    1760.0       0.0       0.0    7810.0       0.0
Food                3141.0   18829.0   23623.0   19500.0   21125.0   27490.0
Gift                   0.0    2885.0     973.0    2030.0       0.0       0.0
Health                 0.0       0.0       0.0     460.0       0.0       0.0
Household              0.0       0.0       0.0       0.0     440.0       0.0
Other              48849.5     800.0     110.0   56471.0     480.0       0.0
Salary             46416.0   28957.0   27077.0   19314.0    9454.0   56483.0
Self-development       0.0   28056.0       0.0       0.0       0.0       0.0
Social Life            0.0       0.0       0.0       0.0       0.0    3200.0
Transportation         0.0       0.0       0.0       0.0       0.0       0.0

                                                                              \
Year&Month         2021-10   2021-11   2021-12   2022-01   2022-02   2022-03
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel             5380.0       0.0    4775.0     220.0       0.0    2000.0
Bonus                  0.0       0.0       0.0       0.0       0.0  100000.0
Education          38368.0       0.0       0.0       0.0       0.0       0.0
Food               33605.0   26525.0   17742.0   15718.0   20125.0   21153.0
Gift                   0.0       0.0     715.0       0.0       0.0       0.0
Health                 0.0       0.0       0.0       0.0       0.0       0.0
Household           1840.0       0.0       0.0    3300.0    3520.0    3300.0
Other                  0.0       0.0  114200.0       0.0       0.0       0.0
Salary             29865.0       0.0       0.0       0.0       0.0       0.0
Self-development       0.0       0.0       0.0       0.0       0.0       0.0
Social Life            0.0       0.0       0.0       0.0    2736.0   10037.0
Transportation     11000.0       0.0     860.0       0.0       0.0       0.0

                                                                              \
Year&Month         2022-04   2022-05   2022-06   2022-07   2022-08   2022-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                0.0    2300.0    3010.0       0.0     390.0       0.0
Bonus                  0.0       0.0       0.0       0.0       0.0       0.0
Education          20500.0   76638.0     700.0   17660.0       0.0    7699.0
Food               25126.0   22939.0   18483.0   26941.0   19831.0   18434.0
Gift                   0.0       0.0       0.0       0.0       0.0       0.0
Health                 0.0       0.0       0.0       0.0       0.0       0.0
Household           3300.0    3520.0       0.0    5684.0    2770.0    2820.0
Other                420.0    4300.0    2300.0   24000.0       0.0   16227.0
Salary                 0.0       0.0       0.0       0.0       0.0       0.0
Self-development       0.0       0.0       0.0       0.0       0.0       0.0
Social Life            0.0       0.0       0.0       0.0       0.0       0.0
Transportation         0.0       0.0       0.0       0.0   65274.0    9000.0

                                                                              \
Year&Month         2022-10   2022-11   2022-12   2023-01   2023-02   2023-03
Category
Allowance         132250.0  132250.0  182250.0  132250.0  132250.0  132250.0
Apparel             4400.0    2190.0       0.0       0.0    1482.0     330.0
Bonus                  0.0       0.0       0.0       0.0       0.0       0.0
Education              0.0       0.0     740.0       0.0   78090.0       0.0
Food               26099.0   19881.0   14323.0   14550.0   16627.0   25279.0
Gift                   0.0       0.0       0.0       0.0       0.0       0.0
Health                 0.0       0.0       0.0       0.0       0.0       0.0
Household          41268.0   10900.0       0.0       0.0       0.0   85438.0
Other                  0.0       0.0   28808.0   15891.0    4650.0   34189.0
Salary                 0.0       0.0       0.0       0.0       0.0       0.0
Self-development       0.0       0.0       0.0       0.0       0.0       0.0
Social Life        22737.0   25851.0  168917.0       0.0       0.0   12283.0
Transportation      5000.0    3000.0       0.0    7000.0       0.0   12540.0

                                                                              \
Year&Month         2023-04   2023-05   2023-06   2023-07   2023-08   2023-09
Category
Allowance         132250.0  132250.0  132250.0  132250.0  132250.0  132250.0
Apparel                0.0       0.0     330.0       0.0     590.0       0.0
Bonus                  0.0       0.0       0.0       0.0       0.0       0.0
Education          83567.0       0.0       0.0       0.0       0.0       0.0
Food               27541.0   18208.0   19570.0   23466.0   32051.0    8455.0
Gift                   0.0       0.0       0.0       0.0       0.0       0.0
Health                 0.0       0.0       0.0       0.0       0.0       0.0
Household          33835.0   30250.0   23000.0   27953.0   31660.0   28935.0
Other               9866.0    1200.0    1200.0       0.0       0.0   90000.0
Salary                 0.0       0.0       0.0       0.0       0.0       0.0
Self-development       0.0       0.0       0.0       0.0       0.0       0.0
Social Life            0.0   13803.0       0.0       0.0   28104.0    3800.0
Transportation      5000.0    5000.0       0.0       0.0       0.0    5000.0

                                                                             \
Year&Month         2023-10  2023-11   2023-12   2024-01   2024-02   2024-03
Category
Allowance         132250.0      0.0  153220.0  153220.0  153220.0  153220.0
Apparel             1714.0   3126.0       0.0       0.0       0.0       0.0
Bonus                  0.0      0.0       0.0       0.0       0.0       0.0
Education              0.0      0.0       0.0    4000.0       0.0       0.0
Food               16142.0  18367.0   35541.0   20271.0   21618.0   11783.0
Gift                   0.0      0.0       0.0       0.0       0.0       0.0
Health                 0.0      0.0       0.0       0.0       0.0       0.0
Household          30545.0   1575.0   32859.0   30001.0   39864.0   30409.0
Other                  0.0      0.0       0.0       0.0    2200.0     660.0
Salary                 0.0      0.0       0.0       0.0       0.0       0.0
Self-development       0.0      0.0       0.0       0.0       0.0       0.0
Social Life            0.0  95430.0   17000.0    2050.0       0.0       0.0
Transportation         0.0  15000.0       0.0    4000.0    5000.0       0.0


Year&Month         2024-04
Category
Allowance         153220.0
Apparel                0.0
Bonus                  0.0
Education              0.0
Food               22417.0
Gift                   0.0
Health                 0.0
Household          35036.0
Other               4200.0
Salary                 0.0
Self-development       0.0
Social Life        21000.0
Transportation       950.0